html {
  scroll-behavior: smooth;
}
.navbar-brand, h1, h2, h3{
    font-family:  cursive;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/IMG-20200629-WA0211.jpg');
    background: linear-gradient(rgba(0, 0, 0, 0.7) 0,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.3) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.masthead::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0.1) 100%);
}

/*
a{
    width: 100%;
    height: 300px;
}*/

body {
    background: #eee;
}

span {
    font-size: 15px;
}

.api {
    text-decoration: none;
    color: #0062cc;
    border-bottom: 2px solid #0062cc;
}

.box {
    padding: 60px 0px;
}

.box-part {
    background: #FFF;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0px;
}

.text {
    margin: 20px 0px;
}

.fa {
    color: #4183D7;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.page-title {
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
}
.page-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.gallery-title {
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.filter-button {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}

.filter-button.active {
    background-color: #42B32F;
    color: white;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.block {
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.footer-top {
    padding: 60px 0 40px 0;
    text-align: left;
}

.footer-top h3 {
    padding-bottom: 10px;
}

.footer-contact p {
    word-wrap: break-word;
}

.footer-contact i {
    padding-right: 10px;
    font-size: 18px;
    color: #ddd;
}

.footer-contact p a {
    border-bottom: 1px dashed #ccc;
}

.footer-contact p a:hover,
.footer-contact p a:focus {
    border-bottom: 1px dashed black;
}

.footer-links a {
    color: #888;
    border: 0;
}

.footer-links a:hover,
.footer-links a:focus {
    color: #555;
    margin-left: 3px;
}

.footer-bottom {
    padding: 0 0 60px 0;
}

.footer-social a {
    margin: 0 10px;
    color: #bbb;
    border: 0;
}

.footer-social a:hover,
.footer-social a:focus {
    color: black;
    border: 0;
}

.footer-social i {
    font-size: 24px;
    vertical-align: middle;
}

.my-auto{
    margin-top: auto;
margin-bottom: auto;
}